<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<div>
  <div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-custom-dark-blue pe-5 ps-5">Back</button> <!--routerLink="//libros-prestados/1"-->
    <app-logout></app-logout>
  </div>
  <!--<button class="btn btn-custom-blue">Logout</button>(click)="cerrarSesion()"-->
  <div class="mostrar-propietario pt-2 pb-2">

    <h2>Nombre/Username Propietario</h2> <!-- Esto no esta en el prototipado de vistas -->

      <div class="mb-3">
        <input type="text" class="form-control bg-white" id="id" name = "id" readonly="readonly" value="ID Propietario"/>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control bg-white" id="nombre" name = "nombre" readonly="readonly" value="Nombre Propietario"/>
      </div>

      <div  class="mb-3">
        <input type="text" class="form-control bg-white" id="apellidos" name = "apellidos" readonly="readonly" value="Apellidos Propietario"/>
      </div>

      <div  class="mb-3">
        <input type="text" #email class="form-control bg-white" id="email" name = "email" readonly="readonly" value="Email Propietario"/>
        <button [ngxClipboard]="email" class="btn btn-custom-bone"><i class="bi bi-clipboard"></i></button>
      </div>
  </div>
</div>
