<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center" *ngIf="currentLibro.id">
    <button routerLink="/libros/{{currentLibro.id}}" class="btn btn-custom-dark-blue pe-5 ps-5">Back</button>
    <app-logout></app-logout>
  </div>
  <div class="card m-auto bg-blue shadow bg-body rounded" style="width: 35rem;">
    <div class="card-body">
      <h4 class="card-title text-center">Actualizar ejemplar</h4>
      <table class="table">
        <tbody>
        <tr>
          <th scope="row" class="text-end">Autor</th>
          <td class="text-start">
            <input type="text" id="inputAutor" class="form-control" aria-describedby="Autor" [(ngModel)]="currentLibro.libro.autor"/>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-end">Título</th>
          <td class="text-start">
            <input type="text" id="inputTitulo" class="form-control"  [(ngModel)]="currentLibro.libro.titulo"/>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-end">Número páginas</th>
          <td class="text-start">
            <input type="text" id="inputPaginas" class="form-control" [(ngModel)]="currentLibro.numeroPaginas"/>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-end">ISBN</th>
          <td class="text-start">
            <input type="text" id="inputIsbn" class="form-control" [(ngModel)]="currentLibro.isbn"/>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-end">Editorial</th>
          <td class="text-start input-group">
            <input type="text" id="inputEditorial" class="form-control" [(ngModel)]="currentLibro.libro.editorial.nombre" />
            <button class="btn btn-custom-medio-blue" routerLink="/editoriales">Elegir Editorial</button>
          </td>
        </tr>
        <tr>
          <th scope="row" class="text-end">Descripción</th>
          <td class="text-start">
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="currentLibro.libro.descripcion">
            </textarea>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="align-self-center mb-4">
      <button class="btn btn-custom-orange pe-5 ps-5" (click)="updateLibro()">Guardar</button>
      <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentLibro.id">
      <br/>
      <p>no se puede acceder a ese ejemplar...</p>
    </div>

  </div>

</div>

