<div>
  <button class="btn btn-custom-blue">Logout</button><!--(click)="cerrarSesion()"-->
  <div class="mostrar-editorial">

    <h1>Nombre Editorial</h1> <!-- Esto no esta en el prototipado de vistas -->

      <div class="mb-3">
        <input type="text" class="form-control" id="id" name = "id" readonly="readonly" value="ID Editorial"/>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="nombre" name = "nombre" readonly="readonly" value="Nombre Editorial"/>
      </div>

      <div  class="mb-3">
        <input type="text" class="form-control" id="direccion" name = "direccion" readonly="readonly" value="Direccion Editorial"/>
      </div>

      <div  class="mb-3">
        <input type="text" class="form-control" id="pagina_web" name = "pagina_web" readonly="readonly" value="Pagina Web Editorial"/>
      </div>

      <button class="btn btn-custom-orange">¿Elegir?</button>
  </div>
</div>
