<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">

    <app-logout></app-logout>
  </div>
  <div class="card m-auto shadow bg-body rounded" style="width: 35rem;">

      <button routerLink="/libros" class="btn btn-custom-medio-blue">Mis libros</button>
      <button  routerLink="/libros-encontrados" class="btn btn-custom-light-brown">Buscar libros</button>
      <button routerLink="/libros-prestados" class="btn btn-custom-orange">Libros prestados</button>

  </div>

</div>

