<html>
<head>
  <title>Inicio</title>
<!-- <link rel="stylesheet" href="inicio.component.scss" type="text/css"> -->
</head>
<body>
<div class="divPrincipal custom-bone">
  <div class="row divBotones">
    <button type="button" class="col btn btn-warning btnLogin">login</button>
    <button type="button" class="col btn btn-warning btnRegister">register</button>
  </div>
  <div class="divh1"><h1>LIBRO-SYSTEMS</h1></div>
  <div class="divimg"><img src="https://cdn.pixabay.com/photo/2020/10/04/14/46/book-5626606_960_720.png" width="300px" height="200px"></div>
</div>
</body>
</html>
