<!--<html>
<head>
  <title>Inicio</title>
 <link rel="stylesheet" href="inicio.component.scss" type="text/css">
</head>custom-bone
<body>-->
<div class="divPrincipal">
  <div class="row divBotones">
    <button class="col btn btn-custom-orange me-3" routerLink="/login">login</button> <!--type="button" btn-warning btnLogin -->
    <button  class="col btn btn-custom-blue" routerLink="/register">registrarse</button> <!-- type="button" btn-warning btnRegister -->
  </div>
  <div class="divh1 text-blue"><h1>LIBRO-SYSTEMS</h1></div>
  <div class="divimg"><img src="https://cdn.pixabay.com/photo/2020/10/04/14/46/book-5626606_960_720.png" width="300px"
                           height="200px"></div>
</div>
<!--</body>
</html> -->
