<div class="d-flex justify-content-between align-items-center">
  <button routerLink="/editoriales" class="btn btn-custom-dark-blue pe-5 ps-5">Back</button>
  <app-logout></app-logout>
</div>
<div>
  <!--<button class="btn btn-custom-blue">Logout</button>(click)="cerrarSesion()"-->
  <div class="crear-editorial pt-2 pb-2">
    <div><!--*ngIf="!submitted"-->
      <h2>Crear Editorial</h2>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre"/>
        <!--required [(ngModel)] = "Editorial.nombre"-->
      </div>

      <div class="mb-3">
        <label for="direccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="direccion" name="direccion"/>
        <!--[(ngModel)] = "Editorial.direccion"-->
      </div>

      <div class="mb-3">
        <label for="pagina_web" class="form-label">Pagina Web</label>
        <input type="text" class="form-control" id="pagina_web" name="pagina_web"/>
        <!--[(ngModel)] = "Editorial.pagina_web"-->
      </div>

      <button class="btn btn-custom-orange pe-5 ps-5">Crear</button> <!--(click)="guardarEditorial()"-->
    </div>
  </div>
</div>
<!--
<div *ngIf="submitted">
  <h4>Editorial Creada Correctamente</h4>
  <button class="btn btn-success" (click)="nuevaEditorial()">Crear Editorial</button>
  <button class="btn btn-success" routerLink >Volver</button> routerLink a inicio
</div>
</div>
</div>
-->

