*{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.crear-editorial {
  max-width: 500px;
  margin: auto;
  background-color: #bce9ee;
  text-align: center;
}
input{
  margin: auto;
  width: 75%;
  text-align: center;
}
.btn-custom-blue {
  float: right;
}
h1{
  text-align: center;
}

