<div class="mt-5">
  <nav class="navbar navbar-expand navbar-light bg-bone">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn btn-custom-dark-blue pe-3 ps-3" routerLink="/addLibro">Añadir libro</button>
          </li>
        </ul>
        <div class="col-md-7 me-2">
          <div class="input-group shadow-sm rounded">
            <input class="form-control" type="search" placeholder="Buscar por el título, autor o ISBN"
                   aria-label="Search" [(ngModel)]="isbn">
            <button class="btn btn-outline-custom-light-brown" type="submit" (click)="searchIsbn()">Buscar</button>
          </div>
        </div>
        <app-logout></app-logout>
      </div>
    </div>
  </nav>

  <div class="list row justify-content-center mt-4">
    <div class="col-md-7 ms-3">
      <ul class="list-group" *ngIf="misLibros!=null; else espera">
        <li class="list-group-item d-flex justify-content-between align-items-center mt-2 mb-2 pt-3 pb-3
        shadow-sm bg-body rounded" *ngFor="let miLibro of misLibros">
          <span class="text-wrap fw-bold">
            <span *ngIf="!miLibro.statusLibre ; else elseBlock">
              <button class="btn btn-custom-red me-2 text-custom-red btn-xs">bg</button>
            </span>
           <ng-template #elseBlock>
             <span>
              <button class="btn btn-custom-green me-2 text-custom-green btn-xs">bg</button>
            </span>
              </ng-template>
            {{miLibro.libro.titulo}}
          </span>

          <span>
            <button class="btn btn-custom-light-blue pe-3 ps-3" routerLink="/libros/{{miLibro.id}}">Mostrar</button>
            <button class="btn btn-custom-orange ms-2 pe-3 ps-3">Eliminar</button>
          </span>
        </li>
      </ul>
      <ng-template #espera> Esperando datos...</ng-template>
    </div>
  </div>
</div>


