<div class="mt-5">
  <nav class="navbar navbar-expand navbar-light bg-bone mt-2">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <div class="navbar-nav mb-2 mb-lg-0">
          <h4 class="text-medio-blue display-6"><em>Libros prestados</em></h4>
        </div>
        <div class="col-md-7 ">
          <div class="input-group shadow-sm rounded">
            <input class="form-control" type="search" placeholder="Buscar por el título, autor o ISBN"
                   aria-label="Search">
            <button class="btn btn-outline-custom-light-brown" type="submit">Buscar</button>
          </div>
        </div>
        <div class="col-auto">
          <app-logout></app-logout>
        </div>

      </div>
    </div>
  </nav>

<div class="container">
  <div class="row mt-4" *ngIf="ejemplaresPrestados!=null; else espera">
    <div class="col" *ngFor="let ejemplarPrestado of ejemplaresPrestados">
      <div class="card mb-3 ms-5 shadow rounded" style="width: 15rem;">
        <img src="{{ejemplarPrestado.ejemplar.portada}}" class="card-img-top" alt="libro prestado">
        <div class="card-body text-center">
          <p class="card-text text-wrap fw-bold">{{ejemplarPrestado.ejemplar.libro.titulo}}</p>
          <span>
            <button class="btn btn-custom-light-blue" routerLink="/libros-prestados/{{ejemplarPrestado.id}}">Mostrar</button>
            <button class="btn btn-custom-light-brown ms-2">Devolver</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
 <ng-template #espera> Esperando datos...</ng-template>
</div>
