<div>
  <button class="btn btn-primary">Logout</button><!--(click)="cerrarSesion()"-->
  <div class="update-editorial">

    <h1>Actualizar Editorial</h1> <!-- Esto no esta en el prototipado de vistas -->

      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name = "nombre" value="Nombre Editorial"/>
      </div>

      <div  class="mb-3">
        <label for="direccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="direccion" name = "direccion" value="Direccion Editorial"/>
      </div>

      <div  class="mb-3">
        <label for="pagina_web" class="form-label">Pagina Web</label>
        <input type="text" class="form-control" id="pagina_web" name = "pagina_web" value="Pagina Web Editorial"/>
      </div>

      <button class="btn btn-success">¿Elegir?</button>
  </div>
</div>

