<div class="registrarse contenedorForm">
  <div>
    <div class="mb-3 divForm custom-medio-blue">
      <label for="username" class="form-label custom-medio-blue">Username</label>
      <input type="text" class="form-control" id="username"name = "username"/>
    </div>

    <div  class="mb-3 divForm custom-medio-blue">
      <label for="contraseña" class="form-label custom-medio-blue">Introduce la contraseña</label>
      <input type="password" class="form-control" id="contraseña" name = "contraseña"/>
    </div>

    <div  class="mb-3 divForm">
      <label for="repetir_contraseña" class="form-label">Repite la contraseña</label>
      <input type="password" class="form-control" id="repetir_contraseña" name = "repetir_contraseña"/><!--[(ngModel)] = "Editorial.pagina_web"-->
    </div>

    <button class="btn">Registrarse</button>
    </div>
</div>
