<div class="registrarse">
  <div>
    <div class="mb-3 divForm">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username"name = "username"/>
    </div>

    <div  class="mb-3 divForm">
      <label for="contraseña" class="form-label">Introduce contraseña</label>
      <input type="password" class="form-control" id="contraseña" name = "contraseña"/>
    </div>

    <div  class="mb-3 divForm">
      <label for="repetir_contraseña" class="form-label">Repite contraseña</label>
      <input type="password" class="form-control" id="repetir_contraseña" name = "repetir_contraseña"/><!--[(ngModel)] = "Editorial.pagina_web"-->
    </div>

    <button class="btn btn-success">Registrarse</button>
    </div>
</div>
