/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";*/
//para añadir colores a los temas del bootstrap,
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
/*@import "../../node_modules/bootstrap/scss/bootstrap";*/


$custom-colors: (
  "custom-bone": #EEEEE4,
  "custom-lighter-blue": #CCE7E8,
  "custom-light-blue": #ABDBE3,
  "custom-blue": #1E81B0,
  "custom-medio-blue": #154C79,
  "custom-dark-blue": #063970,
  "custom-light-orange": #EAB676,
  "custom-orange": #E28743,
  "custom-dark-orange": #E07B39,
  "custom-light-brown": #B97455,
  "custom-brown": #330000,
  "custom-red": #FF0000,
  "custom-green": #33CC00,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";

.btn-custom-blue, .btn-custom-blue:active, .btn-custom-blue:focus, .btn-custom-blue:hover
{
  color: white;
}

.btn-custom-orange, .btn-custom-orange:active, .btn-custom-orange:focus, .btn-custom-orange:hover
{
  color: white;
}

.btn-custom-light-brown, .btn-custom-light-brown:active, .btn-custom-light-brown:focus, .btn-custom-light-brown:hover,
.btn-outline-custom-light-brown:active, .btn-outline-custom-light-brown:focus, .btn-outline-custom-light-brown:hover
{
  color: white;
}

.text-custom-green, .btn-custom-green:active, .btn-custom-green:focus, .btn-custom-green:hover{
  color: #33CC00
}

.text-custom-red, .btn-custom-red:active, .btn-custom-red:focus, .btn-custom-red:hover{
  color: #FF0000
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.20rem 0.4rem;
  font-size: 0.75rem;
}

body {
  background-color: #ededdd;
}

.text-blue{
  color: #1E81B0
}

.text-medio-blue{
  color: #063970
}

.text-dark-blue{
  color: #032b5e
}

.text-orange{
  color: #E28743
}

.text-brown{
  color: #330000
}

.bg-blue{
  background-color: #CCE7E8
}
