<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <button routerLink="/libros-encontrados" class="btn btn-custom-dark-blue pe-5 ps-5">Back</button>
    <app-logout></app-logout>
  </div>

  <div class="card m-auto" style="width: 30rem;" *ngIf="currentEjemplar!=null; else espera">
    <img src="{{currentEjemplar.portada}}"
         class="card-img-top w-50 align-self-center mt-4" alt="portada">
    <div class="card-body">
      <table class="table">
        <tbody>
        <tr>
          <th scope="row" class="text-end">Estatus </th>
          <td class="text-start" *ngIf="!currentEjemplar.statusLibre; else elseBlock">
            <button class="btn btn-custom-red me-2 text-custom-red btn-xs">bg</button>
          </td>
          <ng-template #elseBlock>
          <td class="text-start">
            <button class="btn btn-custom-green me-2 text-custom-green btn-xs">bg</button>
          </td>
          </ng-template>
        </tr>
        <tr>
          <th scope="row" class="text-end">Autor </th>
          <td class="text-start">{{currentEjemplar.libro.autor}}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">Título</th>
          <td class="text-start">{{currentEjemplar.libro.titulo}}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">Número páginas</th>
          <td class="text-start">{{currentEjemplar.numeroPaginas}}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">ISBN</th>
          <td class="text-start">{{currentEjemplar.isbn}}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">Editorial</th>
          <td class="text-start">{{currentEjemplar.libro.editorial.nombre}}</td>
        </tr>
        <tr>
          <th scope="row" class="text-end">Descripción</th>
          <td class="text-start">{{currentEjemplar.libro.descripcion}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center align-items-center mb-4">
      <button routerLink="/contacts/1" class="btn btn-custom-light-blue">Mostrar Propietario</button>
      <button class="btn btn-custom-light-brown ms-3 ps-5 pe-5" (click)="leer()">Leer</button>
    </div>
  </div>

  <ng-template #espera> Esperando datos...</ng-template>
</div>

