<div class="mt-5">
  <nav class="navbar navbar-expand navbar-light bg-bone">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <div class="navbar-nav mb-2 mb-lg-0">
          <h4 class="text-brown display-6"><em>Elegir un libro</em></h4>
        </div>
        <div class="col-md-7">
          <div class="input-group shadow-sm rounded">
            <input class="form-control" type="text" placeholder="Buscar por el título, autor o ISBN"
                   aria-label="Search" [(ngModel)]="isbn" />
            <button class="btn btn-outline-custom-light-brown" type="submit"
            (click)="searchIsbn()">Buscar</button>
          </div>
        </div>
        <div class="col-auto">
          <app-logout></app-logout>
        </div>

      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row mt-4" *ngIf="ejemplares!=null; else espera">
      <div class="col" *ngFor="let ejemplar of ejemplares;
        let i = index" [class.active]="i == currentIndex" (click)="setActiveEjemplar(ejemplar, i)">

        <div class="card mb-3 ms-5 shadow rounded" style="width: 15rem;">
          <img src="{{ejemplar.portada}}" class="card-img-top" alt="libro">
          <div class="card-body text-center">
            <p class="card-text text-wrap fw-bold">{{ejemplar.libro.titulo}}</p>
            <span>
            <button class="btn btn-custom-light-blue" routerLink="/libros-encontrados/{{ejemplar.id}}">Mostrar</button>
            <button class="btn btn-custom-light-brown ms-2 pe-4 ps-4">Leer</button>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
 <ng-template #espera> Esperando datos...</ng-template>-
</div>

